<div class="container">
  <% results = @links %>
  
  <% results.each do |result| %>
    <% row = results.take(3) %>
    <div class="row">
      <% row.each do |col| %>
        <div class="col s12 m4">
          <div class="card-panel">
            <div class="marker unselected">+</div>
            <div class="card-image"><%= image_tag col['imgSrc'].strip %><%#= link %></div>
            <div class="card-action" >
              <p class="brand"><%= col['brand'].strip %></p>
              <p class="title"><%= col['title'].strip %></p>
              <p class="price"><%= col['price'].strip %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% results = results.drop(3) %>
  <% end %>
  
</div>