// ul.side-nav, nav {
//   background: #f50057; /* For browsers that do not support gradients */
//   background: -webkit-linear-gradient(left top, #f50057, #ffca28); /* For Safari 5.1 to 6.0 */
//   background: -o-linear-gradient(bottom right, #f50057, #ffca28); /* For Opera 11.1 to 12.0 */
//   background: -moz-linear-gradient(bottom right, #f50057, #ffca28); /* For Firefox 3.6 to 15 */
//   background: linear-gradient(to bottom right, #f50057, #ffca28); /* Standard syntax */
// }
// ul.side-nav, nav {
//   background: #ff4081; /* For browsers that do not support gradients */
//   background: -webkit-linear-gradient(left top, #ff4081, #ffca28); /* For Safari 5.1 to 6.0 */
//   background: -o-linear-gradient(bottom right, #ff4081, #ffca28); /* For Opera 11.1 to 12.0 */
//   background: -moz-linear-gradient(bottom right, #ff4081, #ffca28); /* For Firefox 3.6 to 15 */
//   background: linear-gradient(to bottom right, #ff4081, #ffca28); /* Standard syntax */
// }
body{
  background: #F180C4; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #F180C4, #64ffda); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #F180C4, #64ffda); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #F180C4, #64ffda); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #F180C4, #64ffda); /* Standard syntax */
  background-size: 100vw 100vh;
  background-attachment: fixed;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
  line-height: 60px;
}
h2 {text-align: center;}
.container {margin-top: 20px;}
p {
  font-size: 1em;
}
p.brand{
  font-weight: bolder;
}
p.price {
  font-size: 0.75em;
}
div.marker{
  background-color: hsla(158, 98%, 27%, 0.4);
  color: white;
  position: absolute;
  left: 0;
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
  width: 2em;
  height: 2em;
  opacity: 1;
  z-index: 10;
}
.unselected{
  display: none;
}

input#search{
  margin-bottom: 0;
}
.row .col{ padding: 0 1rem;}
.card-panel{
  position: relative;
  padding: 0;
  margin: 0.25rem 0 0.25rem 0;
  padding-bottom: 29%;
}
.card-image{
  text-align: center;
  background: white;
  padding-top: 1%;
}
.card-image img{
  position: relative;
  height: 100%;
  padding-top: 3%;
}
.card-action{
  position: absolute;
  bottom: 0;
  height: 25%;
  width: 100%;
  background:#263238;
  color: white;
  margin: 0;
}
.card-action p {
  color: white;
  padding: 2% 0% 0% 5%;
  margin: 0;
}
